<!-- <footer class="site-footer">

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                </ul>
            </div>

            <div class="footer-col  footer-col-2"></div>

            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer> -->

<!-- Main component for a primary marketing message or call to action -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <ul class="contact-list">
                    <li>It's OK to be Ch&uuml;-z&ecirc;</li>
                    <li>
                        <a href="">email@email.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <p class="text">Site Description</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Work+Sans:800" rel="stylesheet">
