<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="background: #fff;">
                <img id="Logo" class="img-responsive" alt="Logo" src="{{ prepend: site.baseurl }}/img/ChoiceScapes.png" />
            </div>
        </div>
    </div>
<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Choice Scapes</a>
    </div>
    <ul class="nav navbar-nav">
      {% for page in site.pages %}
        {% if page.title %}
      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">405-615-5221</a></li>
    </ul>
  </div>
</nav> -->

</header>
